name: Run Postman API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install Newman
      run: npm install -g newman

    - name: Run Postman Collection
      run: |
        newman run Final_Proyek_AT.postman_collection.json \
        --reporters cli,html \
        --reporter-html-export results.html

    - name: Upload HTML Report
      uses: actions/upload-artifact@v3
      with:
        name: newman-report
        path: results.html
